<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hao.androidrecord">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme"
        android:theme="@style/Theme.AndroidRecord">
        <activity android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.table.ChangeTableColorActivity"
            android:exported="false" />
        <activity android:name=".activity.blur.BlurActivity"
            android:exported="false" />
        <activity android:name=".activity.KeyBoardPageScroll"
            android:exported="false" />
        <activity android:name=".activity.KeyBoardPopDialog"
            android:exported="false" />
        <activity android:name=".custom.selector.ui.MatisseActivity"
            android:exported="false" />
        <activity android:name=".custom.selector.ui.MatisseCustomActivity"
            android:exported="false" />

        <activity android:name=".activity.parallaxdecoration.ParallaxMainActivity"
            android:exported="false" />
        <activity android:name=".activity.parallaxdecoration.HorizontalActivity"
            android:exported="false" />
        <activity android:name=".activity.parallaxdecoration.VerticalActivity"
            android:exported="false" />
        <activity android:name=".activity.AnimlogoActivity" android:exported="false" />

        <activity android:name=".activity.nestedscrolling.NestedMainActivity" android:exported="false" />
        <activity android:name=".activity.nestedscrolling.NestedScrollTestActivity" android:exported="false" />
        <activity android:name=".activity.nestedscrolling.RecyclerViewAndRecyclerViewActivity" android:exported="false" />
        <activity android:name=".activity.nestedscrolling.ScrollViewAndRecyclerViewActivity" android:exported="false" />
        <activity android:name=".activity.nestedscrolling.NestedScrollTestRefreshActivity" android:exported="false" />

        <activity android:name=".activity.scrollable.HeaderAndTablayoutRV" android:exported="false" />
        <activity android:name=".activity.scrollable.HeaderAndTablayoutRV02" android:exported="false" />
        <activity android:name=".activity.scrollable01.ScrollableMainActivity" android:exported="false" />
        <activity android:name=".activity.scrollable02.MainActivity" android:exported="false" />
        <activity android:name=".activity.scrollable02.TestActivity" android:exported="false" />
        <activity android:name=".activity.shadow.MainShadowActivity" android:exported="false" />

        <activity android:name=".activity.StickyHeaderViewPager.TestActivity" android:exported="false" />
        <activity android:name=".activity.StickyHeaderViewPager.SimpleActivity" android:exported="false" />
        <activity android:name=".activity.MultiScroll.activity.MainActivity" android:exported="false" />
        <activity android:name=".activity.datetime.DateTimePicerActivity" android:exported="false" />
        <activity android:name=".activity.scrollable03.MainActivityScrollable03" android:exported="false" />
        <activity android:name=".activity.scrollable04.Demo4Activity" android:exported="false" />
        <activity android:name=".activity.scrollable05.MainActivity" android:exported="false" />
        <activity android:name=".activity.scrollable05.DebugSlideActivity" android:exported="false" />
        <activity android:name=".activity.alihome.AliHomeMainActivity" android:exported="false" />
        <activity android:name=".activity.switchButton.RecyclerActivity" android:exported="false" />
        <activity android:name=".activity.switchButton.StyleActivity" android:exported="false" />
        <activity android:name=".activity.switchButton.StyleInCodeActivity" android:exported="false" />
        <activity android:name=".activity.switchButton.SwitchButtonMainActivity" android:exported="false" />
        <activity android:name=".activity.switchButton.UseActivity" android:exported="false" />
        
        <activity android:name=".activity.scrollable06.Scroll06MainActivity" android:exported="false" />

        <activity android:name=".activity.scrollable07.DecorationActivity" android:exported="false" />
        <activity android:name=".activity.scrollable07.GroupAndDecorationActivity" android:exported="false" />
        <activity android:name=".activity.scrollable07.ListViewAddHeaderActivity" android:exported="false" />
        <activity android:name=".activity.scrollable07.MaterialDesignTopBarActivity" android:exported="false" />
        <activity android:name=".activity.scrollable07.OneTopBarActivity" android:exported="false" />
        <activity android:name=".activity.scrollable07.Scroll07MainActivity" android:exported="false" />
        <activity android:name=".activity.scrollable07.ScrollViewActivity" android:exported="false" />
        <activity android:name=".activity.scrollable07.TwoSameTopBarActivity" android:exported="false" />

        <activity android:name=".activity.DashedLineDivider.DashedLineMainActivity" android:exported="false" />
        <activity android:name=".activity.DragPanelLayout.DragMainActivity" android:exported="false" />

        <activity android:name=".activity.NotchTools.NotchToolsMainActivity" android:exported="false" />
        <activity android:name=".activity.NotchTools.FullScreenNoUseNotchActivity"
            android:theme="@style/AppTheme"
             android:exported="false" />
        <activity android:name=".activity.NotchTools.FullScreenUseNotchActivity"
            android:theme="@style/AppTheme" android:exported="false" />

        <activity android:name=".activity.WhellViewActivity" android:exported="false" />
        <activity android:name=".activity.coroutine.TestCoroutineActivity" android:exported="false" />
        <activity android:name=".activity.coroutine.TestCoroutineActivity01" android:exported="false" />
        <activity android:name=".activity.coroutine.TestCoroutineActivity02" android:exported="false" />
        <activity android:name=".activity.coroutine.TestCoroutineActivity03" android:exported="false" />
        <activity android:name=".activity.coroutine.TestCoroutineActivity04" android:exported="false" />
        <activity android:name=".activity.coroutine.TestCoroutineActivity05" android:exported="false" />
        <activity android:name=".activity.coroutine.TestCoroutineActivity06" android:exported="false" />
        <activity android:name=".activity.coroutine.TestCoroutineActivity07" android:exported="false" />

        <activity android:name=".activity.hilt.TestHiltActivity" android:exported="false" />
        <activity android:name=".activity.bookpage.BookPageActivity" android:exported="false" />
        <activity android:name=".activity.bookpage.BookPageActivity00" android:exported="false" />
        <activity android:name=".activity.paing3.TestPaging3Activity" android:exported="false" />
        <activity android:name=".activity.tiktokComments.CommentMultiActivity" android:exported="false" />

        <activity android:name=".activity.nine.NineGridActivity" android:exported="false" />
        <activity android:name=".activity.nine.CustomGirdActivity" android:exported="false" />
        <activity android:name=".activity.nine.NineGridNewActivity" android:exported="false" />

        <activity android:name=".activity.flowRecycle.LanuchActivity" android:exported="false" />
        <activity android:name=".activity.flowRecycle.DiffHeightTextFlowActivity" android:exported="false" />
        <activity android:name=".activity.flowRecycle.PhotoFlowActivity" android:exported="false" />
        <activity android:name=".activity.flowRecycle.ProductActivity" android:exported="false" />
        <activity android:name=".activity.flowRecycle.SuspensionProductActivity" android:exported="false" />
        <activity android:name=".activity.flowRecycle.TextFlowActivity" android:exported="false" />

        <activity android:name=".activity.indexBar.CountryChooseActivity" android:exported="false" />
        <activity android:name=".activity.indexBar.ProvinceChooseActivity" android:exported="false" />
        <activity android:name=".activity.indexBar.CityChooseActivity" android:exported="false" />

        <activity android:name=".indexable.IndexableCityActivity" android:exported="false" />
        <activity android:name=".activity.ClickSpanActivity" android:exported="false" />

        <activity android:name=".activity.cusTab.TabMainActivity"
            android:theme="@style/AppTheme.NoActionBar" android:exported="false" />
        <activity android:name=".activity.cusTab.basic.DemoBasicActivity"
            android:theme="@style/AppTheme.NoActionBar" android:exported="false" />
        <activity android:name=".activity.cusTab.autoselect.DemoAutoSelectActivity"
            android:theme="@style/AppTheme.NoActionBar" android:exported="false" />
        <activity android:name=".activity.cusTab.customview01.DemoCustomView01Activity"
            android:theme="@style/AppTheme.NoActionBar" android:exported="false" />
        <activity android:name=".activity.cusTab.customview02.DemoCustomView02Activity"
            android:theme="@style/AppTheme.NoActionBar" android:exported="false" />
        <activity android:name=".activity.cusTab.years.DemoYearsActivity"
            android:theme="@style/AppTheme.NoActionBar" android:exported="false" />
        <activity android:name=".activity.cusTab.imitationloop.DemoImitationLoopActivity"
            android:theme="@style/AppTheme.NoActionBar" android:exported="false" />
        <activity android:name=".activity.cusTab.rtl.DemoRtlActivity"
            android:theme="@style/AppTheme.NoActionBar" android:exported="false" />
        <activity android:name=".activity.cusTab.tabscrolldisabled.DemoTabScrollDisabledActivity"
            android:theme="@style/AppTheme.NoActionBar" android:exported="false" />
        <activity android:name=".activity.cusTab.tabonscreenlimit.DemoTabOnScreenLimitActivity"
            android:theme="@style/AppTheme.NoActionBar" android:exported="false" />


        <activity android:name=".activity.scrool.ScrollChangeTitleActivity"
            android:theme="@style/ImageTranslucentTheme" android:exported="false" />


        <activity android:name=".activity.RichEdit.MainActivity" android:exported="false" />
        <activity android:name=".activity.RichEdit.TopicListActivity" android:exported="false" />
        <activity android:name=".activity.RichEdit.UserListActivity" android:exported="false" />

        <activity android:name=".activity.richeditor.RichEditorActivity" android:exported="false" />
        <activity android:name=".activity.richeditor.StockListActivity" android:exported="false" />
        <activity android:name=".activity.richeditor.UserListActivity" android:exported="false" />
        <activity android:name=".activity.SwitchActivity" android:exported="false" />

        <activity android:name=".activity.bottom.MainBottomActivity" android:exported="false" />
        <activity android:name=".activity.bottom.MainBottomActivity01" android:exported="false" />
        <activity android:name=".activity.bottom.MainBottomActivity02" android:exported="false" />

        <activity android:name=".activity.ArcSelectList.StartActivity" android:exported="false" />
        <activity android:name=".activity.ArcSelectList.ui.ArcActivity" android:exported="false" />
        <activity android:name=".activity.ArcSelectList.ui.ArcSelectActivity" android:exported="false" />
        <activity android:name=".activity.ArcSelectList.ui.ArcSelectRotateActivity" android:exported="false" />
        <activity android:name=".activity.ArcSelectList.ui.AutoSelectActivity" android:exported="false" />
        <activity android:name=".activity.ArcSelectList.ui.BottomArcActivity" android:exported="false" />
        <activity android:name=".activity.ArcSelectList.ui.CircleArcActivity" android:exported="false" />
        <activity android:name=".activity.ArcSelectList.ui.HorizontalSelectActivity" android:exported="false" />
        <activity android:name=".activity.ArcSelectList.ui.PadingArcActivity" android:exported="false" />

        <activity android:name=".activity.RelationActivity" android:exported="false" />
        <activity android:name=".custom.AirRelationView.release.ReleaseActivity" android:exported="false" />
        <activity android:name=".custom.AirRelationView.release.ShowActivity" android:exported="false" />

        <activity android:name=".activity.CardScrool.MainImpActivity" android:exported="false" />
        <activity android:name=".activity.CardScrool.DetailActivity" android:exported="false" />

        <activity android:name=".activity.scrollMove.MainScrollActivity"
            android:theme="@style/WhiteFront_green_AppTheme"
            android:screenOrientation="portrait" android:exported="false" />

        <activity android:name=".activity.live.MainActivity" android:exported="false" />
        <activity android:name=".activity.tiger.SlotMachineActivity" android:exported="false" />
        <activity android:name=".activity.tiger2.LuckyMainActivity" android:exported="false" />
        <activity android:name=".activity.tiger3.FortuneActivity" android:exported="false" />

        <activity android:name=".activity.AdvancedTextView.SelectMainActivity" android:exported="false" />
        <activity android:name=".activity.AdvancedTextView.HoriActivity" android:exported="false" />
        <activity android:name=".activity.AdvancedTextView.VertActivity" android:exported="false" />
        <activity android:name=".activity.SelectableTextView.SelectTextActivity" android:exported="false" />

        <activity android:name=".activity.SelectableTextHelper.SelectHelpMainActivity" android:exported="false" />
        <activity android:name=".activity.halfScreen.HalfMainActivity" android:exported="false" />
        <activity android:name=".activity.halfScreen.MainHalf2Activity" android:exported="false" />
        <activity android:name=".activity.autoscroll.AutoScrollRecycleActivity" android:exported="false" />

        <activity android:name=".activity.MeasureTextActivity" android:exported="false" />


        <activity
            android:name=".deeplink.DeepLinkActivity"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.NoDisplay"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"  />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--不能有下划线-->
                <data android:scheme="recordlink" />
            </intent-filter>
        </activity>

        <activity android:name=".deeplink.MainDeepLinkActivity" android:exported="false" />
        <activity android:name=".activity.searchview.MainSearchActivity"
            android:theme="@style/AppSearchTheme" android:exported="false" />


        <provider
            android:name=".activity.searchview.db.HistoryProvider"
            android:authorities="br.com.mauker.materialsearchview.searchhistorydatabase"
            android:exported="false"
            android:protectionLevel="signature"
            android:syncable="true"/>

        <activity android:name=".activity.search.MainSearch2Activity" android:exported="false" />

        <activity android:name=".activity.arclayout.ArcLayoutMainActivity" android:exported="false" />
        <activity android:name=".activity.arclayout.BannerActivity" android:exported="false" />
        <activity android:name=".activity.autoscrollview.AutoScrollActivity" android:exported="false" />
        <activity android:name=".activity.keyboard.MainKeyboardActivity" android:exported="false" />
        <activity android:name=".activity.CheckNotchActivity" android:exported="false" />
        <activity android:name=".activity.coroutine.TestFLowActivity" android:exported="false" />
        <activity android:name=".activity.bnavigationbar.MainBottomActivity" android:exported="false" />
        <activity android:name=".activity.bnavigationbar.MainViewPagerActivity" android:exported="false" />

        <activity android:name=".activity.CoilLoadActivity" android:exported="false" />

        <activity android:name=".activity.keyboardbottom.KeyboardMainActivity" android:exported="false" />
        <activity android:name=".activity.keyboardbottom.ResolvedActivity" android:exported="false" />
        <activity android:name=".activity.keyboardbottom.UnresolvedActivity" android:exported="false" />

        <activity android:name=".activity.robustwebview.WebViewActivity" android:exported="false" />

        <activity android:name=".activity.bottomtab.RVBottomActivity" android:exported="false" />
        <activity android:name=".activity.ShapeActivity" android:exported="false" />
        <activity android:name=".activity.CuSwitchButtonActivity" android:exported="false" />
        <activity android:name=".activity.LoginActivity" android:exported="false" />
        <activity android:name=".activity.RegisterActivity" android:exported="false" />
        <activity android:name=".activity.GuideActivity" android:exported="false" />
        <activity android:name=".activity.dialog.DialogActivity" android:exported="false" />
        <activity android:name=".activity.TextViewPressAlphaActivity" android:exported="false" />
        <activity android:name=".activity.EditTextCusorActivity" android:exported="false" />
        <activity android:name=".activity.blur.BlurTitleActivity" android:exported="false" />
        <activity android:name=".activity.NiftyDialogActivity" android:exported="false" />

        <activity android:name=".activity.dfilp.DActivity" android:exported="false" />
        <activity android:name=".activity.dfilp.LoginActivity" android:exported="false" />
        <activity android:name=".activity.dfilp.MainDialogActivity" android:exported="false" />

        <activity android:name=".activity.timeline.line1.MainTimeLineActivity" android:exported="false" />
        <activity android:name=".activity.timeline.line2.DotTimeLineActivity" android:exported="false" />
        <activity android:name=".activity.seemore.MainSeeMoreActivity" android:exported="false" />
        <activity android:name=".activity.slidingTab.MainSlidingActivity" android:exported="false" />
        <activity android:name=".activity.bottomsheet.BottomSheetActivity" android:exported="false" />
        <activity android:name=".activity.bottomsheet.CoordinatorActivity" android:exported="false" />
        <activity android:name=".activity.bottomsheet.BottomBarActivity" android:exported="false" />

        <activity android:name=".activity.indexbar2.LauncherActivity" android:exported="false" />
        <activity android:name=".activity.indexbar2.MainIndexBarActivity" android:exported="false" />
        <activity android:name=".activity.indexbar2.MeituanSelectCityActivity" android:exported="false" />
        <activity android:name=".activity.indexbar2.SwipeDelMenuActivity" android:exported="false" />
        <activity android:name=".activity.indexbar2.WeChatActivity" android:exported="false" />

        <activity android:name=".activity.recyclegroup.BindingActivity" android:exported="false" />
        <activity android:name=".activity.recyclegroup.EmptyActivity" android:exported="false" />
        <activity android:name=".activity.recyclegroup.ExpandableActivity" android:exported="false" />
        <activity android:name=".activity.recyclegroup.Grid1Activity" android:exported="false" />
        <activity android:name=".activity.recyclegroup.Grid2Activity" android:exported="false" />
        <activity android:name=".activity.recyclegroup.GroupedListActivity" android:exported="false" />
        <activity android:name=".activity.recyclegroup.MainGroupStickyActivity" android:exported="false" />
        <activity android:name=".activity.recyclegroup.NoFooterActivity" android:exported="false" />
        <activity android:name=".activity.recyclegroup.NoHeaderActivity" android:exported="false" />
        <activity android:name=".activity.recyclegroup.StickyActivity" android:exported="false" />
        <activity android:name=".activity.recyclegroup.VariousActivity" android:exported="false" />
        <activity android:name=".activity.recyclegroup.VariousChildActivity" android:exported="false" />

        <activity android:name=".activity.consecutivescroller.ConsecutiveActivity" android:exported="false" />
        <activity android:name=".activity.consecutivescroller.FragmentActivity" android:exported="false" />
        <activity android:name=".activity.consecutivescroller.MainScrollerActivity" android:exported="false" />
        <activity android:name=".activity.consecutivescroller.PermanentStickyActivity" android:exported="false" />
        <activity android:name=".activity.consecutivescroller.SampleActivity" android:exported="false" />
        <activity android:name=".activity.consecutivescroller.ScrollChildActivity" android:exported="false" />
        <activity android:name=".activity.consecutivescroller.SinkStickyActivity" android:exported="false" />
        <activity android:name=".activity.consecutivescroller.StickyActivity" android:exported="false" />
        <activity android:name=".activity.consecutivescroller.ViewPager2Activity" android:exported="false" />
        <activity android:name=".activity.consecutivescroller.ViewPagerActivity" android:exported="false" />

        <activity android:name=".activity.pinned.StockActivity" android:exported="false" />

        <activity android:name=".activity.pinned2.MainPinned2Activity" android:exported="false" />
        <activity android:name=".activity.pinned2.SecondActivity" android:exported="false" />

        <activity android:name=".activity.pinned3.ui.DemoActivity" android:exported="false" />
        <activity android:name=".activity.pinned3.ui.DemoTextActivity" android:exported="false" />
        <activity android:name=".activity.pinned3.ui.DemoImageActivity" android:exported="false" />

        <activity android:name=".activity.sheet.MainGaodeSheetActivity" android:exported="false" />
        <activity android:name=".activity.sheet.gaode.GaoDeDetailActivity" android:exported="false" />
        <activity android:name=".activity.sheet.gaode.GaoDeIndexActivity" android:exported="false" />
        <activity android:name=".custom.drapmenu.DropMenuActivity" android:exported="false" />

        <activity android:name=".activity.observable.MainActivity"
            >

        </activity>
        <activity android:name=".activity.observable.AboutActivity" android:exported="false" />
        <activity android:name=".activity.observable.FlexibleSpaceWithImageRecyclerViewActivity"
            android:theme="@style/AppTheme" android:exported="false" />

        <activity android:name=".activity.expandflow.ExpandFlowActivity" android:exported="false" />

        <activity android:name=".activity.OAIDActivity" android:exported="false" />

        <activity android:name=".activity.expandrv.ExpandMenuActivity" android:exported="false" />
        <activity android:name=".activity.expandrv.expand.ExpandRecycleActivity" android:exported="false" />
        <activity android:name=".activity.expandrv.check.MultiCheckActivity" android:exported="false" />

        <activity android:name=".activity.recyclegroup.ExpandableGridActivity" android:exported="false" />
        <activity android:name=".activity.flip.FlipMainActivity" android:exported="false" />
        <activity android:name=".activity.expandable.ExpandableRecycleActivity" android:exported="false" />
        <activity android:name=".activity.expandable.two.TwoExpandableActivity" android:exported="false" />

        <activity android:name=".activity.chatview.SimpleChatViewActivity" android:exported="false" />
        <activity android:name=".activity.ScrollTextViewActivity" android:exported="false" />
        <activity android:name=".activity.expandable.expand01.ExpandMenuActivity" android:exported="false" />
        <activity android:name=".activity.expandable.expand01.changeadapter.ChangeAdapterActivity" android:exported="false" />
        <activity android:name=".activity.expandable.expand01.childsticky.ChildStickyHeaderActivity" android:exported="false" />
        <activity android:name=".activity.expandable.expand01.college.CollegeActivity" android:exported="false" />
        <activity android:name=".activity.expandable.expand01.markets.MarketsActivity" android:exported="false" />
        <activity android:name=".activity.expandable.expand01.slection.SelectionActivity" android:exported="false" />
        <activity android:name=".activity.expandable.expand01.textbook.TextBookListActivity" android:exported="false" />
        <activity android:name=".activity.expandable.expand01.yuanfudao.YuanfudaoActivity" android:exported="false" />
        <activity android:name=".activity.animatorx.AnimatorXActivity" android:exported="false" />
        <activity android:name=".activity.fabpop.FabPopMainActivity" android:exported="false" />

        <activity android:name=".activity.SparkButtonActivity" android:exported="false" />
        <activity android:name=".activity.dyindex.DYIndexMainActivity" android:exported="false" />
        <activity android:name=".activity.physicslayout.MainPhysicActivity" android:exported="false" />
        <activity android:name=".animtest.AnimationTestMainActivity"/>
        <activity android:name=".animtest.FrameAnimationActivity"/>
        <activity android:name=".activity.separatededittext.PayPwdMainActivity" android:exported="false"/>
        <activity android:name=".activity.separatededittext.PayPsdViewActivity" android:exported="false"/>
        <activity android:name=".activity.interval.IntervalActivity" android:exported="false"/>
        <activity android:name=".activity.stickscroll.MainStickScrollActivity" android:exported="false"/>
        <activity android:name=".activity.switchButton.MutilSwtichActivity" android:exported="false"/>
        <activity android:name=".activity.chooser.ChooseMainActivity" android:exported="false"/>
        <activity android:name=".threestateswitch.ThreeStateActivity" android:exported="false"/>
        <activity android:name=".activity.expandablecardview.ExpandCardMainActivity" android:exported="false"/>
        <activity android:name=".activity.testviewvgroup.TestViewVGroupActivity" android:exported="false"/>
        <activity android:name=".activity.viewcacheext.DemoRvActivity" android:exported="false"/>
        <activity android:name=".activity.rvnotify.RVNotifyActivity" android:exported="false"/>
        <activity android:name=".animtest.TweenAnimtionActivity" android:exported="false"/>
        <activity android:name=".animtest.AnimatorActivity" android:exported="false"/>
        <activity android:name=".activity.taskaffinity.TaskAffinityActivity"
            android:taskAffinity="com.zejian.singleTask.affinity"
            android:launchMode="singleTask">

        </activity>


        <service android:name=".service.MusicPlayerService"/>
        <activity android:name=".activity.WebViewActivity"/>
        <activity android:name=".activity.snaphelper.SnapHelperActivity"/>
        <activity android:name=".activity.snaphelper.LinearSnapVerActivity"/>
        <activity android:name=".activity.snaphelper.LinearSnapHoriActivity"/>
        <activity android:name=".activity.snaphelper.PageSnapActivity"/>
        <activity android:name=".activity.snaphelper.GravitySnapHelperActivity"/>
        <activity android:name=".activity.snaphelper.GridActivity"/>
        <activity android:name=".activity.recycleState.RecycleStateActivity"/>
        <activity android:name=".activity.recycleState.custom.RecycleStateActivity01"/>
        <activity android:name=".activity.testviewvgroup.PieMainActivity"/>
        <activity android:name=".activity.AlphaActivity"/>

        <activity android:name=".activity.webviewOptimize.H5WebViewActivity"/>
        <activity android:name=".activity.webviewOptimize.WebActivity"/>

        <activity android:name=".activity.rv_vp.gallery.GalleryActivity"/>
        <activity android:name=".activity.rv_vp.shop.ShopActivity"
            />
        <activity android:name=".activity.rv_vp.weather.WeatherActivity"
            android:theme="@style/WeatherTheme" />
        <activity android:name=".activity.rv_vp.Rv2VpMainActivity"
            android:theme="@style/GalleryTheme"/>
        <activity android:name=".activity.TableView.TableViewActivity"/>
        <activity android:name=".activity.ZoomRecylerLayout.ZoomRecycleActivity"/>
        <activity android:name=".activity.tableview01.TableView01Activity"/>
        <activity android:name=".activity.progress.RoundProgressActivity"/>
        <activity android:name=".activity.flexbox.FlexBoxRecycleActivity"/>
        <activity android:name=".activity.drag.DragCardActivity"/>

        <activity android:name=".activity.ticket.ExampleActivity"
            android:theme="@style/AppTicketTheme.NoActionBar"/>
        <activity android:name=".activity.ticket.TicketViewActivity"
            android:theme="@style/AppTicketTheme.NoActionBar"/>

        <activity android:name=".activity.LuckyWheel.LuckWheelActivity"/>
        <activity android:name=".activity.KeyboardLayout.KeyboardActivity"/>


        <activity android:name=".activity.scalingLayout.CollapsingDemoActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.scalingLayout.FABDemo"/>
        <activity android:name=".activity.scalingLayout.ScalingLayoutActivity"/>
        <activity android:name=".activity.scalingLayout.SearchBarDemoActivity"/>

        <activity android:name=".activity.tabScrollAttacher.TabScrollActivity"/>

        <activity android:name=".calendar.activity.CalendarMainActivity"/>

        <activity android:name=".calendar.activity.lib.CalendarActivity"/>

        <activity android:name=".calendar.activity.lib01.CalendarLib01Activity"
            android:theme="@style/AppTicketTheme.NoActionBar"/>
        <activity android:name=".calendar.activity.lib01.colorful.ColorfulActivity"
            android:theme="@style/AppTicketTheme.NoActionBar"/>
        <activity android:name=".calendar.activity.lib01.custom.CustomActivity"
            android:theme="@style/AppTicketTheme.NoActionBar"/>
        <activity android:name=".calendar.activity.lib01.index.IndexActivity"
            android:theme="@style/AppTicketTheme.NoActionBar"/>
        <activity android:name=".calendar.activity.lib01.meizu.MeiZuActivity"
            android:theme="@style/AppTicketTheme.NoActionBar"/>
        <activity android:name=".calendar.activity.lib01.pager.CalendarViewPagerActivity"
            android:theme="@style/AppTicketTheme.NoActionBar"/>
        <activity android:name=".calendar.activity.lib01.progress.ProgressActivity"
            android:theme="@style/AppTicketTheme.NoActionBar"/>
        <activity android:name=".calendar.activity.lib01.simple.SimpleActivity"
            android:theme="@style/AppTicketTheme.NoActionBar"/>
        <activity android:name=".calendar.activity.lib01.single.SingleActivity"
            android:theme="@style/AppTicketTheme.NoActionBar"/>
        <activity android:name=".calendar.activity.lib01.solay.SolarActivity"
            android:theme="@style/AppTicketTheme.NoActionBar"/>

        <activity android:name=".calendar.activity.lib01.TestActivity"
            android:theme="@style/AppTicketTheme.NoActionBar"/>


        <activity android:name=".calendar.activity.lib02.custom.CustomActivity"
            android:theme="@style/AppTicketTheme.NoActionBar"
            />
        <activity android:name=".calendar.activity.lib02.full.FullActivity"
            android:theme="@style/AppTicketTheme.NoActionBar"
            />
        <activity android:name=".calendar.activity.lib02.mix.MixActivity"
            android:theme="@style/AppTicketTheme.NoActionBar"
            />
        <activity android:name=".calendar.activity.lib02.multi.MultiActivity"
            android:theme="@style/AppTicketTheme.NoActionBar"/>
        <activity android:name=".calendar.activity.lib02.range.RangeActivity"
            android:theme="@style/AppTicketTheme.NoActionBar"/>
        <activity android:name=".calendar.activity.lib02.CalendarLib02Activity"
            android:theme="@style/AppTicketTheme.NoActionBar"/>

        <activity android:name=".activity.elasticviews.ElasticViewMainActivity"
            />
        <activity android:name=".activity.elasticviews.ExampleActivity0"/>
        <activity android:name=".activity.elasticviews.ExampleActivity1"/>
        <activity android:name=".activity.elasticviews.ExampleActivity2"/>

        <activity android:name=".activity.swipehorizontalscrollview.DefaultShowLeftActivity"/>
        <activity android:name=".activity.swipehorizontalscrollview.DingColumnActivity"/>
        <activity android:name=".activity.swipehorizontalscrollview.HideLeftActivity"/>
        <activity android:name=".activity.swipehorizontalscrollview.HorizontalMainActivity"/>
        <activity android:name=".activity.swipehorizontalscrollview.NeedFixItemPositionActivity"/>

        <activity android:name=".table.tablelunar.LunaActivity"/>

        <activity android:name=".activity.liveMessageHelper.LiveActivity"/>
        <activity android:name=".activity.liveMessageHelper.RootActivity"/>

        <activity android:name=".table.table01.TableActivity"/>

        <activity android:name=".leonids.AnimatedParticlesExampleActivity"/>
        <activity android:name=".leonids.ConfettiExampleActivity"/>
        <activity android:name=".leonids.DustExampleActivity"/>
        <activity android:name=".leonids.EmiterBackgroundSimpleExampleActivity"/>
        <activity android:name=".leonids.EmiterIntermediateExampleActivity"/>
        <activity android:name=".leonids.EmiterSimpleExampleActivity"/>
        <activity android:name=".leonids.EmiterTimeLimitedExampleActivity"/>
        <activity android:name=".leonids.EmiterWithGravityExampleActivity"/>
        <activity android:name=".leonids.ExampleListActivity"/>
        <activity android:name=".leonids.FireworksExampleActivity"/>
        <activity android:name=".leonids.FollowCursorExampleActivity"/>
        <activity android:name=".leonids.OneShotAdvancedExampleActivity"/>
        <activity android:name=".leonids.OneShotSimpleExampleActivity"/>
        <activity android:name=".leonids.StarsExampleActivity"/>
        <activity android:name=".activity.coffeeView.CoffeeViewActivity"/>
        <activity android:name=".activity.candle.CandleActivity"/>
    </application>

</manifest>