<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hao.androidrecord">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme"
        android:theme="@style/Theme.AndroidRecord">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.table.ChangeTableColorActivity"/>
        <activity android:name=".activity.blur.BlurActivity"/>
        <activity android:name=".activity.KeyBoardPageScroll"/>
        <activity android:name=".activity.KeyBoardPopDialog"/>
        <activity android:name=".custom.selector.ui.MatisseActivity"/>
        <activity android:name=".custom.selector.ui.MatisseCustomActivity"/>

        <activity android:name=".activity.parallaxdecoration.ParallaxMainActivity"/>
        <activity android:name=".activity.parallaxdecoration.HorizontalActivity"/>
        <activity android:name=".activity.parallaxdecoration.VerticalActivity"/>
        <activity android:name=".activity.AnimlogoActivity"/>

        <activity android:name=".activity.nestedscrolling.NestedMainActivity"/>
        <activity android:name=".activity.nestedscrolling.NestedScrollTestActivity"/>
        <activity android:name=".activity.nestedscrolling.RecyclerViewAndRecyclerViewActivity"/>
        <activity android:name=".activity.nestedscrolling.ScrollViewAndRecyclerViewActivity"/>
        <activity android:name=".activity.nestedscrolling.NestedScrollTestRefreshActivity"/>

        <activity android:name=".activity.scrollable.HeaderAndTablayoutRV"/>
        <activity android:name=".activity.scrollable.HeaderAndTablayoutRV02"/>
        <activity android:name=".activity.scrollable01.ScrollableMainActivity"/>
        <activity android:name=".activity.scrollable02.MainActivity"/>
        <activity android:name=".activity.scrollable02.TestActivity"/>
        <activity android:name=".activity.shadow.MainShadowActivity"/>

        <activity android:name=".activity.StickyHeaderViewPager.TestActivity"/>
        <activity android:name=".activity.StickyHeaderViewPager.SimpleActivity"/>
        <activity android:name=".activity.MultiScroll.activity.MainActivity"/>
        <activity android:name=".activity.datetime.DateTimePicerActivity"/>
        <activity android:name=".activity.scrollable03.MainActivityScrollable03"/>
        <activity android:name=".activity.scrollable04.Demo4Activity"/>
        <activity android:name=".activity.scrollable05.MainActivity"/>
        <activity android:name=".activity.scrollable05.DebugSlideActivity"/>
        <activity android:name=".activity.alihome.AliHomeMainActivity"/>
        <activity android:name=".activity.switchButton.RecyclerActivity"/>
        <activity android:name=".activity.switchButton.StyleActivity"/>
        <activity android:name=".activity.switchButton.StyleInCodeActivity"/>
        <activity android:name=".activity.switchButton.SwitchButtonMainActivity"/>
        <activity android:name=".activity.switchButton.UseActivity"/>
        
        <activity android:name=".activity.scrollable06.Scroll06MainActivity"/>

        <activity android:name=".activity.scrollable07.DecorationActivity"/>
        <activity android:name=".activity.scrollable07.GroupAndDecorationActivity"/>
        <activity android:name=".activity.scrollable07.ListViewAddHeaderActivity"/>
        <activity android:name=".activity.scrollable07.MaterialDesignTopBarActivity"/>
        <activity android:name=".activity.scrollable07.OneTopBarActivity"/>
        <activity android:name=".activity.scrollable07.Scroll07MainActivity"/>
        <activity android:name=".activity.scrollable07.ScrollViewActivity"/>
        <activity android:name=".activity.scrollable07.TwoSameTopBarActivity"/>

        <activity android:name=".activity.DashedLineDivider.DashedLineMainActivity"/>
        <activity android:name=".activity.DragPanelLayout.DragMainActivity"/>

        <activity android:name=".activity.NotchTools.NotchToolsMainActivity"/>
        <activity android:name=".activity.NotchTools.FullScreenNoUseNotchActivity"
            android:theme="@style/AppTheme"
            />
        <activity android:name=".activity.NotchTools.FullScreenUseNotchActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".activity.WhellViewActivity"/>
        <activity android:name=".activity.TestCoroutineActivity"/>
        <activity android:name=".activity.TestCoroutineActivity01"/>
        <activity android:name=".activity.TestCoroutineActivity02"/>
        <activity android:name=".activity.TestCoroutineActivity03"/>
        <activity android:name=".activity.TestCoroutineActivity04"/>
        <activity android:name=".activity.TestCoroutineActivity05"/>
        <activity android:name=".activity.TestCoroutineActivity06"/>
        <activity android:name=".activity.TestCoroutineActivity07"/>

        <activity android:name=".activity.hilt.TestHiltActivity"/>
        <activity android:name=".activity.bookpage.BookPageActivity"/>
        <activity android:name=".activity.bookpage.BookPageActivity00"/>
        <activity android:name=".activity.paing3.TestPaging3Activity"/>
        <activity android:name=".activity.tiktokComments.CommentMultiActivity"/>

        <activity android:name=".activity.nine.NineGridActivity"/>
        <activity android:name=".activity.nine.CustomGirdActivity"/>
        <activity android:name=".activity.nine.NineGridNewActivity"/>

        <activity android:name=".activity.flowRecycle.LanuchActivity"/>
        <activity android:name=".activity.flowRecycle.DiffHeightTextFlowActivity"/>
        <activity android:name=".activity.flowRecycle.PhotoFlowActivity"/>
        <activity android:name=".activity.flowRecycle.ProductActivity"/>
        <activity android:name=".activity.flowRecycle.SuspensionProductActivity"/>
        <activity android:name=".activity.flowRecycle.TextFlowActivity"/>

        <activity android:name=".activity.indexBar.CountryChooseActivity"/>
        <activity android:name=".activity.indexBar.ProvinceChooseActivity"/>
        <activity android:name=".activity.indexBar.CityChooseActivity"/>

        <activity android:name=".indexable.IndexableCityActivity"/>
        <activity android:name=".activity.ClickSpanActivity"/>

        <activity android:name=".activity.cusTab.TabMainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.cusTab.basic.DemoBasicActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.cusTab.autoselect.DemoAutoSelectActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.cusTab.customview01.DemoCustomView01Activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.cusTab.customview02.DemoCustomView02Activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.cusTab.years.DemoYearsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.cusTab.imitationloop.DemoImitationLoopActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.cusTab.rtl.DemoRtlActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.cusTab.tabscrolldisabled.DemoTabScrollDisabledActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.cusTab.tabonscreenlimit.DemoTabOnScreenLimitActivity"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity android:name=".activity.scrool.ScrollChangeTitleActivity"
            android:theme="@style/ImageTranslucentTheme"/>


        <activity android:name=".activity.RichEdit.MainActivity"/>
        <activity android:name=".activity.RichEdit.TopicListActivity"/>
        <activity android:name=".activity.RichEdit.UserListActivity"/>

        <activity android:name=".activity.richeditor.RichEditorActivity"/>
        <activity android:name=".activity.richeditor.StockListActivity"/>
        <activity android:name=".activity.richeditor.UserListActivity"/>
        <activity android:name=".activity.SwitchActivity"/>

        <activity android:name=".activity.bottom.MainBottomActivity"/>
        <activity android:name=".activity.bottom.MainBottomActivity01"/>
        <activity android:name=".activity.bottom.MainBottomActivity02"/>

        <activity android:name=".activity.ArcSelectList.StartActivity"/>
        <activity android:name=".activity.ArcSelectList.ui.ArcActivity"/>
        <activity android:name=".activity.ArcSelectList.ui.ArcSelectActivity"/>
        <activity android:name=".activity.ArcSelectList.ui.ArcSelectRotateActivity"/>
        <activity android:name=".activity.ArcSelectList.ui.AutoSelectActivity"/>
        <activity android:name=".activity.ArcSelectList.ui.BottomArcActivity"/>
        <activity android:name=".activity.ArcSelectList.ui.CircleArcActivity"/>
        <activity android:name=".activity.ArcSelectList.ui.HorizontalSelectActivity"/>
        <activity android:name=".activity.ArcSelectList.ui.PadingArcActivity"/>

        <activity android:name=".activity.RelationActivity"/>
        <activity android:name=".custom.AirRelationView.release.ReleaseActivity"/>
        <activity android:name=".custom.AirRelationView.release.ShowActivity"/>

        <activity android:name=".activity.CardScrool.MainImpActivity"/>
        <activity android:name=".activity.CardScrool.DetailActivity"/>

        <activity android:name=".activity.scrollMove.MainScrollActivity"
            android:theme="@style/WhiteFront_green_AppTheme"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.live.MainActivity"/>
        <activity android:name=".activity.tiger.SlotMachineActivity"/>
        <activity android:name=".activity.tiger2.LuckyMainActivity"/>
        <activity android:name=".activity.tiger3.FortuneActivity"/>

    </application>

</manifest>