<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hao.androidrecord">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidRecord">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.table.ChangeTableColorActivity"/>
        <activity android:name=".activity.blur.BlurActivity"/>
        <activity android:name=".activity.KeyBoardPageScroll"/>
        <activity android:name=".activity.KeyBoardPopDialog"/>
        <activity android:name=".custom.selector.ui.MatisseActivity"/>
        <activity android:name=".custom.selector.ui.MatisseCustomActivity"/>

        <activity android:name=".activity.parallaxdecoration.ParallaxMainActivity"/>
        <activity android:name=".activity.parallaxdecoration.HorizontalActivity"/>
        <activity android:name=".activity.parallaxdecoration.VerticalActivity"/>
        <activity android:name=".activity.AnimlogoActivity"/>

        <activity android:name=".activity.nestedscrolling.NestedMainActivity"/>
        <activity android:name=".activity.nestedscrolling.NestedScrollTestActivity"/>
        <activity android:name=".activity.nestedscrolling.RecyclerViewAndRecyclerViewActivity"/>
        <activity android:name=".activity.nestedscrolling.ScrollViewAndRecyclerViewActivity"/>
        <activity android:name=".activity.nestedscrolling.NestedScrollTestRefreshActivity"/>

        <activity android:name=".activity.scrollable.HeaderAndTablayoutRV"/>
        <activity android:name=".activity.scrollable.HeaderAndTablayoutRV02"/>
        <activity android:name=".activity.scrollable01.ScrollableMainActivity"/>

    </application>

</manifest>